<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>TDLC Proyecto</title>
    <link rel="stylesheet" href="../styles.css" />
    <script type="text/javascript" src="../js/lexicalAnalyzer.js"></script>
</head>
<body>
    <input id="inputString" type="text" value="" placeholder="Escribe cadena a evaluar" />
    <button onclick="javascript: getNextState();">Siguiente estado</button>
    <button onclick="javascript: analyzeString();">Análisis de cadena</button>
</body>
</html>